### Необходимые импорты

In [1]:
import numpy as np
import pandas as pd

## Задание 1
- Определите, какому фильму было выставлено больше всего оценок 5.0.

Загрузим данные

In [7]:
df_ratings = pd.read_csv('./hw8_task1/ratings.csv')
df_movies = pd.read_csv('./hw8_task1/movies.csv')

Посмотрим, что внутри

In [15]:
df_movies.sample(5)

,movieId,title,genres
3738,5198,"Long Good Friday, The (1980)",Drama|Thriller
1357,1848,"Borrowers, The (1997)",Adventure|Children|Comedy|Fantasy
5161,8361,"Day After Tomorrow, The (2004)",Action|Adventure|Drama|Sci-Fi|Thriller
8624,118862,Closer to the Moon (2013),Comedy|Drama
534,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...

In [16]:
df_ratings.sample(5)

       userId  movieId  rating   timestamp
99152     608     3361     2.5  1117503046
80699     509    63992     1.5  1435994716
1555       15   122882     2.0  1510572126
71262     456       64     3.0   856883540
63021     414     2116     4.0   961514985

Объединим датасеты

In [19]:
df_movie_ratings = df_movies.merge(df_ratings, on='movieId')

df_movie_ratings.sample(5)

,movieId,title,genres,userId,rating,timestamp
16296,593,"Silence of the Lambs, The (1991)",Crime|Horror|Thriller,137,4.0,1204859748
68844,5902,Adaptation (2002),Comedy|Drama|Romance,393,0.5,1430507509
92875,86911,"Hangover Part II, The (2011)",Comedy,111,3.5,1516141354
24578,1193,One Flew Over the Cuckoo's Nest (1975),Drama,329,4.0,1523468322
20292,903,Vertigo (1958),Drama|Mystery|Romance|Thriller,221,5.0,1111178200

Отфильтруем фильмы с оценкой "5" и выведем название того, у кого больше всего таких оценок

In [31]:
df_movie_ratings[df_movie_ratings['rating'] == 5]['title'].value_counts().head(1).reset_index()

                              title  count
0  Shawshank Redemption, The (1994)    153