### Необходимые импорты

In [1]:
import numpy as np
import pandas as pd

## Задание 1
- Определите, какому фильму было выставлено больше всего оценок 5.0.

Загрузим данные

In [7]:
df_ratings = pd.read_csv('./hw8_task1/ratings.csv')
df_movies = pd.read_csv('./hw8_task1/movies.csv')

Посмотрим, что внутри

In [15]:
df_movies.sample(5)

,movieId,title,genres
3738,5198,"Long Good Friday, The (1980)",Drama|Thriller
1357,1848,"Borrowers, The (1997)",Adventure|Children|Comedy|Fantasy
5161,8361,"Day After Tomorrow, The (2004)",Action|Adventure|Drama|Sci-Fi|Thriller
8624,118862,Closer to the Moon (2013),Comedy|Drama
534,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...

In [16]:
df_ratings.sample(5)

       userId  movieId  rating   timestamp
99152     608     3361     2.5  1117503046
80699     509    63992     1.5  1435994716
1555       15   122882     2.0  1510572126
71262     456       64     3.0   856883540
63021     414     2116     4.0   961514985

Найдем Id фильма с максимальным количеством оценок "5" и выведем его

In [46]:
top_movieId = df_ratings[df_ratings['rating']
                         == 5]['movieId'].value_counts().idxmax()

df_movies[df_movies['movieId'] == top_movieId]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama