### Необходимые импорты

In [52]:
import pandas as pd

## Задание 1
- Определите, какому фильму было выставлено больше всего оценок 5.0.

Загрузим данные

In [7]:
df_ratings = pd.read_csv('./hw8_task1/ratings.csv')
df_movies = pd.read_csv('./hw8_task1/movies.csv')

Посмотрим, что внутри

In [15]:
df_movies.sample(5)

,movieId,title,genres
3738,5198,"Long Good Friday, The (1980)",Drama|Thriller
1357,1848,"Borrowers, The (1997)",Adventure|Children|Comedy|Fantasy
5161,8361,"Day After Tomorrow, The (2004)",Action|Adventure|Drama|Sci-Fi|Thriller
8624,118862,Closer to the Moon (2013),Comedy|Drama
534,631,All Dogs Go to Heaven 2 (1996),Adventure|Animation|Children|Fantasy|Musical|R...

In [16]:
df_ratings.sample(5)

       userId  movieId  rating   timestamp
99152     608     3361     2.5  1117503046
80699     509    63992     1.5  1435994716
1555       15   122882     2.0  1510572126
71262     456       64     3.0   856883540
63021     414     2116     4.0   961514985

Найдем Id фильма с максимальным количеством оценок "5" и выведем его

In [46]:
top_movieId = df_ratings[df_ratings['rating']
                         == 5]['movieId'].value_counts().idxmax()

df_movies[df_movies['movieId'] == top_movieId]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
- По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

Загрузим датасет

In [47]:
df_power = pd.read_csv('./hw8_task2/power.csv')

In [48]:
df_power.sample(5)

                         country  year  quantity  category
925492   Falkland Is. (Malvinas)  2013       4.0        51
1144327  Ethiopia, incl. Eritrea  1991      47.0        67
577050                  Malaysia  1991     666.0        35
495266               New Zealand  2002       1.0        31
162483                   Czechia  1995    1715.0        16

Посмотрим как в датасете записаны интересующие нас страны

In [54]:
df_power[df_power['country'].str.contains(
    r'^[LE]', case=True)]['country'].unique()

array(['Lithuania', 'Eritrea', 'Ethiopia', 'Lesotho', 'Latvia',
       'Luxembourg', 'Ecuador', 'Egypt', 'El Salvador', 'Estonia',
       'Ethiopia, incl. Eritrea', "Lao People's Dem. Rep.", 'Liberia',
       'Libya', 'Equatorial Guinea', 'Lebanon', 'Liechtenstein'],
      dtype=object)

Отфильтруем датасет по требуемым условиям и найдем суммарное потребление

In [ ]:
df_baltic = df_power[(df_power['country'].isin(['Lithuania', 'Latvia', 'Estonia']))
                     & (df_power['category'].isin([4, 12, 21]))
                     & (df_power['quantity'] >= 0)
                     & (df_power['year'].isin(range(2005, 2011)))]

print(f'Суммарное потребление - {df_baltic['quantity'].sum()}')

Суммарное потребление - 240580.0

### Задание 3
- Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame.

In [68]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.8 kB)
Downloading lxml-5.3.0-cp312-cp312-manylinux_2_28_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 6.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: lxml
Successfully installed lxml-5.3.0

In [77]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in /app/venv/lib/python3.12/site-packages (from html5lib) (1.16.0)
Collecting webencodings (from html5lib)
  Downloading webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 572.2 kB/s eta 0:00:00 0:00:01
Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib
Successfully installed html5lib-1.1 webencodings-0.5.1

In [79]:
!pip install beautifulsoup4

Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.9/147.9 kB 759.1 kB/s eta 0:00:00 0:00:01
Downloading soupsieve-2.6-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.12.3 soupsieve-2.6

In [96]:
page_url = 'https://shtrafy-gibdd.ru/articles/novaya-tablica-shtrafov-gibdd'

pd.options.display.max_colwidth = None

df_fines = pd.read_html(page_url, flavor="bs4")[0]

In [97]:
df_fines.head()

,Статья КоАП,Штраф до 2025,Штраф с 2025
0,12.9 ч. 2 Превышение скорости на 20-40 км/ч,500 рублей,750 рублей
1,12.16 ч. 1 Несоблюдение требований знаков и разметки,500 рублей,750 рублей
2,12.6 Непристегнутый ремень,1000 рублей,1500 рублей
3,12.16 ч. 5 Парковка в неположенном месте в Москве и Петербурге,3000 рублей,4500 рублей
4,12.9 ч. 3 Превышение скорости на 40-60 км/ч,1000-1500 рублей,1500-2250 рублей