## Домашнее задание «Функции и работа с данными»

Необходимые импорты.

In [2]:
import pandas as pd
import numpy as np

### **Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

- оценка 2 и ниже — низкий рейтинг;
- оценка 4 и ниже — средний рейтинг;
- оценка 4.5 и 5 — высокий рейтинг.


Результат классификации запишите в столбец class.

**Загрузим датасеты**

In [3]:
df_films = pd.read_csv('./movies.csv')
df_ratings = pd.read_csv('./ratings.csv')

In [4]:
df_ratings.sample(5)

       userId  movieId  rating   timestamp
481         6     3052     1.0  1108134337
25352     185     3438     3.0  1003523891
74024     517      208     5.0   846449929
53853     388     1213     5.0   946522591
90590     601    52885     4.0  1270254592

In [5]:
df_films.sample(5)

,movieId,title,genres
3591,4561,Waxwork (1988),Comedy|Horror
5719,26007,"Unknown Soldier, The (Tuntematon sotilas) (1955)",Drama|War
2297,2868,Fright Night Part II (1988),Horror
6310,41573,"Family Stone, The (2005)",Comedy|Drama|Romance
6430,45440,Art School Confidential (2006),Comedy|Drama

**Объединим датасеты**

In [6]:
df_films_rating = df_films.merge(df_ratings, on=['movieId'])

In [7]:
df_films_rating.sample(5)

,movieId,title,genres,userId,rating,timestamp
23472,921,My Favorite Year (1982),Comedy,232,4.0,955089975
28678,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Fantasy|Romance,562,5.0,1167428254
41756,1894,Six Days Seven Nights (1998),Adventure|Comedy|Romance,150,2.0,1140424652
20743,762,Striptease (1996),Comedy|Crime,252,3.0,869101734
34306,1307,When Harry Met Sally... (1989),Comedy|Romance,63,2.0,1079098251

**Функция для классификации рейтинга**

In [8]:
def df_rate_classification(rating):
    """Функция классификации рейтинга

    Args:
        rating (float): значение рейтинга

    Returns:
        str: класс рейтинга
    """    
        
    match rating:
        case rating if rating >= 4.5:
            return 'High rate'
        case rating if 2 < rating <= 4:
            return 'Middle rate'
        case rating if rating <= 2:
            return 'Low rate'

**Применим функцию к столбцу rating**

In [9]:
df_films_rating['Class'] = df_films_rating['rating'].apply(df_rate_classification)

In [10]:
df_films_rating.sample(5)

,movieId,title,genres,userId,rating,timestamp,Class
29843,1210,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi,660,4.0,1436680296,Middle rate
74565,5349,Spider-Man (2002),Action|Adventure|Sci-Fi|Thriller,213,3.5,1462637593,Middle rate
92422,63082,Slumdog Millionaire (2008),Crime|Drama|Romance,503,3.5,1432366032,Middle rate
88506,45950,"Inconvenient Truth, An (2006)",Documentary,472,4.5,1164753215,High rate
11272,356,Forrest Gump (1994),Comedy|Drama|Romance|War,510,3.0,946880364,Middle rate

### **Задание 2**
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

```python
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }
```

Результат классификации запишите в отдельный столбец region.

In [11]:
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }