## Домашнее задание «Функции и работа с данными»

Необходимые импорты..

In [1]:
import pandas as pd
import numpy as np

### **Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

- оценка 2 и ниже — низкий рейтинг;
- оценка 4 и ниже — средний рейтинг;
- оценка 4.5 и 5 — высокий рейтинг.


Результат классификации запишите в столбец class.

**Загрузим датасеты**

In [2]:
df_films = pd.read_csv('./movies.csv')
df_ratings = pd.read_csv('./ratings.csv')

In [3]:
df_ratings.sample(5)

       userId  movieId  rating   timestamp
72900     509     3148     4.0  1093295731
15393     102      342     4.0   957896110
58234     423     3467     4.0  1355514278
69863     481    86626     4.0  1437106459
58280     423     6373     2.0  1354570812

In [4]:
df_films.sample(5)

,movieId,title,genres
5974,27875,Redemption: The Stan Tookie Williams Story (2004),Crime|Documentary|Drama
4286,5718,Carbon Copy (1981),Comedy
2361,2942,Flashdance (1983),Drama|Romance
4871,6898,Sweet Sixteen (2002),Drama
5366,8228,"Maltese Falcon, The (a.k.a. Dangerous Female) ...",Mystery

**Объединим датасеты**

In [30]:
df_films_rating = df_films.merge(df_ratings, on=['movieId'])

In [31]:
df_films_rating.sample(5)

,movieId,title,genres,userId,rating,timestamp
42615,1952,Midnight Cowboy (1969),Drama,30,4.0,948167081
50038,2407,Cocoon (1985),Comedy|Sci-Fi,564,3.0,974833752
25740,1061,Sleepers (1996),Thriller,665,3.0,995233350
38334,1591,Spawn (1997),Action|Adventure|Sci-Fi|Thriller,73,3.0,1256028479
1982,34,Babe (1995),Children|Drama,595,3.0,965077143

**Функция для классификации рейтинга**

In [29]:
def df_rate_classification(rating):
    """Функция классификации рейтинга

    Args:
        rating (float): значение рейтинга

    Returns:
        str: класс рейтинга
    """    
        
    match rating:
        case rating if rating >= 4.5:
            return 'High rate'
        case rating if 2 < rating <= 4:
            return 'Middle rate'
        case rating if rating <= 2:
            return 'Low rate'

**Применим функцию к столбцу rating**

In [32]:
df_films_rating['Class'] = df_films_rating['rating'].apply(df_rate_classification)

In [33]:
df_films_rating.sample(5)

,movieId,title,genres,userId,rating,timestamp,Class
98493,109487,Interstellar (2014),Sci-Fi|IMAX,149,4.0,1436922074,Middle rate
28199,1193,One Flew Over the Cuckoo's Nest (1975),Drama,253,4.5,1215831247,High rate
98475,109374,"Grand Budapest Hotel, The (2014)",Comedy|Drama,542,5.0,1424965254,High rate
99729,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Fantasy|Sci-Fi,277,2.5,1463682554,Middle rate
69701,4292,Norma Rae (1979),Drama,547,4.0,1021195429,Middle rate