## Домашнее задание «Функции и работа с данными»

Необходимые импорты.

In [1]:
import pandas as pd
import numpy as np

### **Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по правилам:

- оценка 2 и ниже — низкий рейтинг;
- оценка 4 и ниже — средний рейтинг;
- оценка 4.5 и 5 — высокий рейтинг.


Результат классификации запишите в столбец class.

**Загрузим датасеты**

In [2]:
df_films = pd.read_csv('./movies.csv')
df_ratings = pd.read_csv('./ratings.csv')

In [3]:
df_ratings.sample(5)

       userId  movieId  rating   timestamp
69580     481     3000     5.0  1437001222
73103     509     5868     4.0  1037842170
16481     105     2699     3.0  1086094851
34536     247      368     3.0   953272112
84507     564     3534     4.0   974833752

In [4]:
df_films.sample(5)

,movieId,title,genres
5205,7697,"Prince and the Showgirl, The (1957)",Comedy|Romance
8337,103048,"Kings of Summer, The (2013)",Comedy
3347,4203,Harley Davidson and the Marlboro Man (1991),Action|Crime|Drama
1699,2141,"American Tail, An (1986)",Adventure|Animation|Children|Comedy
7392,72605,Brothers (2009),Drama|Thriller|War

**Объединим датасеты**

In [5]:
df_films_rating = df_films.merge(df_ratings, on=['movieId'])

In [6]:
df_films_rating.sample(5)

,movieId,title,genres,userId,rating,timestamp
83304,8617,Butterfield 8 (1960),Drama,311,3.5,1102466414
92080,60684,Watchmen (2009),Action|Drama|Mystery|Sci-Fi|Thriller|IMAX,48,3.5,1322167566
88548,46559,"Road to Guantanamo, The (2006)",Drama|War,501,4.0,1298260509
86914,35836,"40-Year-Old Virgin, The (2005)",Comedy|Romance,292,3.5,1140050453
5009,158,Casper (1995),Adventure|Children,592,2.0,995422382

**Функция для классификации рейтинга**

In [7]:
def df_rate_classification(rating):
    """Функция классификации рейтинга

    Args:
        rating (float): значение рейтинга

    Returns:
        str: класс рейтинга
    """    
        
    match rating:
        case rating if rating >= 4.5:
            return 'High rate'
        case rating if 2 < rating <= 4:
            return 'Middle rate'
        case rating if rating <= 2:
            return 'Low rate'

**Применим функцию к столбцу rating**

In [8]:
df_films_rating['Class'] = df_films_rating['rating'].apply(df_rate_classification)

In [9]:
df_films_rating.sample(5)

,movieId,title,genres,userId,rating,timestamp,Class
42252,1923,There's Something About Mary (1998),Comedy|Romance,235,5.0,1111625545,High rate
77330,6016,City of God (Cidade de Deus) (2002),Action|Adventure|Crime|Drama|Thriller,430,5.0,1111579068,High rate
87864,43919,Date Movie (2006),Comedy|Romance,106,1.0,1215818522,Low rate
72870,4973,"Amelie (Fabuleux destin d'Amélie Poulain, Le) ...",Comedy|Romance,414,5.0,1039390596,High rate
32405,1262,"Great Escape, The (1963)",Action|Adventure|Drama|War,559,5.0,903143929,High rate

### **Задание 2**
Используйте файл keywords.csv.

Нужно написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определённому региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

```python
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }
```

Результат классификации запишите в отдельный столбец region.

Словарь для классификации региона

In [10]:
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

Загрузим датасет

In [11]:
df_kewords = pd.read_csv('./keywords.csv')

In [23]:
df_kewords.sample(5)

                                                 keyword  shows
46326                                               диод   7355
23366                                           катарсис  13475
99292                       афиша кино москва на сегодня   3704
8691                                             братаны  30851
53180  маша в законе все сезоны все серии бесплатно о...   6472

Создадим функцию для классификации запроса по первому найденному названию города в строке запроса

In [120]:
def geo_classify(query_str: str):
    """Функция для классификации региона запроса по первому найденному слову
        в словаре регионов

    Args:
        query_str (str): строка запроса

    Returns:
        str: строка с названием региона или 'undefined'
    """
    word_list = [word for word in str.lower(query_str).split(' ')]

    for word in word_list:
        region = next((k for k, v in geo_data.items() if word in v), 'Undefined')
        if region != 'Undefined':
           break
    
    return region

Применим функцию к столбцу 'keyword' датасета

In [121]:
df_kewords['region'] = df_kewords['keyword'].apply(geo_classify)

In [122]:
df_kewords[df_kewords['region'] != 'Undefined'].sample(10)

,keyword,shows,region
56633,работа хабаровск,6848,Дальний Восток
84049,альфа банк санкт петербург,4338,Северо-Запад
78820,садовод рынок москва цены на товары каталог 20...,4511,Центр
39320,театр ленсовета санкт петербург официальный сайт,8527,Северо-Запад
75821,александринский театр санкт петербург официаль...,4715,Северо-Запад
55329,метро санкт петербург,7663,Северо-Запад
81107,велосипеды распродажа 2016 скидки москва,4401,Центр
56742,гидрометцентр москва на неделю,6271,Центр
17517,расписание автобусов ярославль,17605,Центр
61986,такси везет москва официальный сайт,6063,Центр

In [124]:
df_kewords[df_kewords['region'] == 'Undefined'].sample(10)

                                         keyword   shows     region
24056                         французские фильмы   13653  Undefined
39191                                цвергпинчер    8553  Undefined
1922                                 dns shop ru  107232  Undefined
17203                авито волгоградская область   17546  Undefined
3224                            погода в тамбове   66672  Undefined
90391  спорт экспресс читать газету свежий номер    3996  Undefined
26818                                  роскосмос   11957  Undefined
33845             смотреть бесплатно мультфильмы   16140  Undefined
70317                               тоби стивенс    5040  Undefined
96688                билеты ржд официальный сайт   11548  Undefined